<%= form_for(@person_note) do |f| %>
  <% if @person_note.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@person_note.errors.count, "error") %> prohibited this person_note from being saved:</h2>

      <ul>
      <% @person_note.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :text %><br>
    <%= f.text_field :text %>
  </div>
  <div class="field">
    <%= f.label :person_id %><br>
    <%= f.text_field :person_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
